

/* styles.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    color: aliceblue;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

button:hover {
    background-color: #0056b3;
}

.containerEquip{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#equipments{
    width: 40%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;       
}

input{
    margin-right: 10px;
    
}

#total{
    margin-top: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipment-item{
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    #equipments{
        width: 95%;
        font-size: 0.8rem;
    }

    button{
        padding: 15px 35px;
        font-size: 1.2rem;
    }

    h1{
        font-size: 1.4rem;
    }

    h3{
        font-size: 1rem;
    }
}
